<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- <script>
       var arr1=[7,8,4,2,6,1]
       document.write("even number<br />")
       for(var i=0;i<arr1.length;i++)
          {
         
            if(arr1[i] % 2==0)
              {
                document.write(arr1[i])
                document.write('<br>')
              }
            } -->
            <!-- // document.write("odd number<br />")  
        // for(var i=0;i<arr1.length;i++)
        //     if(arr1[i] % 2!=0)
        //       {
        //         document.write(arr1[i])
        //         document.write('<br>')
        //       }
          
        //  documet.write('even number is')
        // for(var j=0;j<5;j++)
        // {
        //     if(arr1[j]%2!=0)
        //       {
        //         arr3=document.write(arr1[j])
        //         document.write('<br>')
        //       }
        //     }  --> 

    <!-- </script> -->

    <!-- <script>
      price=[23,45,67,89]
      console.log(price)
    </script> -->

    <!-- <script>
      var sum=0
      price=[23,45,67,89]
      // console.log(price)
      len=price.length
      // console.log(len)
      for(i=0;i<len;i++)
      {
        // console.log(price[i])
        sum=sum+price[i]
        
      }
      console.log(sum)
    </script> -->

    <!-- <script>
      price=[23,45,67,89]
      price.push(25)
      console.log(price)
      price.pop()
      console.log(price)
      price.reverse()
      console.log(price)
      price.sort()
      console.log(price)
      var a=10
      a.toString()
      console.log(price)
      price.shift()
      console.log(price)
      console.log(price.shift())

    </script> -->

    <!-- <script>
      vehicles=['car','bus','bike','cycle','jeep']
      for(item of vehicles)
          {
            console.log(item)
          }
    </script> -->
     <!-- <script>
      details={
        'name': 'jumana',
        'age' : 22,
        'place': 'vadakara',
         'pin': 673104  ,
         skills :['html','c','c++','java'] 
        }
        console.log(details)
        console.log(details['name'])
        console.log(details['skills'])
        console.log(details['skills'][0])
        for(item in details)
          {
            console.log(item  ,'is' ,details[item])
          }
     </script> -->

     <!-- <script>
     n1=5
    
     var n2=10
     function fn()
        {
           var n3=45
        
          console.log(n1)
          console.log(n2)
          console.log(n3)
        }
        
        fn()
        n3=20
        fn()
        // console.log(n3)
     

     </script> -->

     <!-- <script>
      n1=6
        {
          let n2=3
        }
     
      n2=9
      console.log(n2)
     </script> -->

     <script>
      const pi=3.14
      console.log(pi)
      // pi=9
      console.log(pi)
     </script>
</body>
</html>