<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script>
        var a=true
        var c=10
        var h=4.55
        var n="jumana"
        console.log(typeof(a))
    </script> -->
    <!-- <script>
        var num1,num2,sum
        num1=prompt("Enter the number1:")
        console.log(num1)
        num2=prompt("enter the num2")
        console.log(num2)
        sum=parseInt(num1)+parseInt(num2)
        
        console.log(sum)
    </script> -->
    <!-- <script>
        var a=confirm("are you sure?")
        console.log(a)
    </script> -->
    <script>
        var a,b,c,sum,sub,mul,mod,inc,dec,l,hh,ee,ff,gg,eq,po,div,bn
        a=10
        b=5
        c=20
        sum=a+b
        sub=c-a
        mul=a*b
        mod=a%5
        inc=a++
        dec=a--
        l=a>b
        console.log(sum)
        console.log(sub)
        console.log(mul)
        console.log(mod)
        console.log(inc)
        console.log(dec)
        console.log(l)
        hh=a>b&&c>a
        console.log(hh)
        ee=a!=c
        console.log(ee)
        ff=a<=b
        console.log(ff)
        gg=b>=c
        console.log(gg)
        eq=a==b
        console.log(eq)
        po=a**2
        console.log(po)
        a+=10
        console.log(a)
        b-=3
        console.log(b)
        div=c/b
        console.log(div)
        bn=(a===c)
        console.log(bn)
     
    </script>
    
</body>
</html>