<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="id1" class="class1">hello</h1>
    <p class="class1">Lorem ipsum ebcvhjcbf gh vbv hbv j vfvufvhvfv</p>
    <p id="id2">dhbdcdnc hduvfkjvefnm fj</p>
    <BUTTon onclick="btn()">SUBMIT</BUTTon>
    <script>
    document.write("hyy")
    h= document.getElementById("id1")
    console.log(h)
    p=document.getElementsByTagName("p")
    console.log(p[0])
    p1=document.getElementsByClassName("class1")
    console.log(p1)
</script>
<!-- <script>
    document.write("hyy")
    h= document.getElementById("id1")
    h.innerHTML="welcome"
</script> -->
<!-- <script>
    function btn()
       {
        h= document.getElementById("id2")
        h.innerHTML="login"
        h.align="center"
        h.style.color="blue"
        h.setAttribute('class',"name")

      }
</script> -->
</body>
</html>