<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <input type="number" id=id1> <br /><br />
   <input type="number" id=id2><br /><br />
   <button onclick="add('+')">+</button><br /><br />
   <button onclick="add('-')">-</button><br /><br />
   <button onclick="add('*')">*</button><br /><br />
   <button onclick="add('/')">/</button><br /><br />
   <b id="id3"></b>
   
   <script>
    function add(sign)
        {
            
            num1=Number(document.getElementById("id1").value)
            num2=Number(document.getElementById("id2").value)
            console.log(num1,num2)
            if(sign=='+')
            {
           
            sum=num1+num2
            
           }
        else if(sign=='-')
           {
           
            sum=num1-num2
            
           }
        else if(sign=='*')
           {
            
            sum=num1*num2
           
           }
        else (sign=='/')
           {
            
            sum=num1/num2
        
           }
           document.getElementById("id3").innerHTML=sum 
        }  
    
        -->
   <!-- </script> -->



   <!-- <img id="img1"src="https://ik.imagekit.io/freshman/js-calculator/decimal-bug_QQiFGt0Cn26.gif" alt="" width="700px">
   <script>
      img=document.getElementById("img1")
      img.src="https://upload.wikimedia.org/wikipedia/commons/2/26/Calculator.kodabar.jpg"
   </script> -->
   <img id="img1" src="https://media.istockphoto.com/photos/light-bulb-picture-id185206958?k=20&m=185206958&s=170667a&w=0&h=D2SIozfbPQMBeVLpehzbgzgI3oyXrSXdV8Djjsvms-k=" alt="" width="700px">
    <button onclick="bulb('on')">on</button>
    <button onclick="bulb('off')">off</button>
   <script>
     function bulb(power)
          {
            img=document.getElementById("img1")
            if(power=='on')
              {
                img.src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKm5xnTBSikuTroWgPFZ6J6kNwistShaA0A&usqp=CAU"
              }
            else
            {
                img.src="https://media.istockphoto.com/photos/light-bulb-picture-id185206958?k=20&m=185206958&s=170667a&w=0&h=D2SIozfbPQMBeVLpehzbgzgI3oyXrSXdV8Djjsvms-k="
            }
          }
   </script>
</body>
</html>