{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <!-- <div style="color:blueviolet" id="lorem">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, a quasi. Minus voluptatibus soluta nam perferendis qui. Nesciunt, voluptatum voluptates.
    </div> -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam vero explicabo, pariatur harum nostrum, autem, et error rem adipisci vel sapiente nam libero nulla mollitia consequuntur ea doloribus blanditiis voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sunt dicta! Veniam, perferendis deserunt! Harum neque odit corrupti omnis. Magni ratione totam beatae expedita. Vero nostrum minus in tempora repudiandae sit nisi, excepturi velit deleniti corrupti sapiente distinctio mollitia deserunt sequi quidem consequuntur earum iusto minima? Laboriosam enim culpa veritatis!

    </p>
</body>
</html>