{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <style>
     /* #heading{
        font-size: large;
        background-color: cadetblue;
        color: aliceblue;
     }
     #div1{
        font-size: large;
        background-color: cadetblue;
        color: aliceblue;
     } */
     .hhh{
        font-size: large;
        background-color: cadetblue;
        color: aliceblue;
     }
    </style> -->
</head>
<body>
    <!-- <h1 style="font-size: medium; background-color: blueviolet;color: brown; ">student home</h1>
    <h1 style="font-size: medium; background-color: blueviolet;color: brown; ">changed</h1> -->
    <!-- <h1 id="heading">heloooo</h1>
    <div id="div1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, maxime. Quasi a itaque maiores sequi blanditiis, error dolorem eum id exercitationem quidem aut, dignissimos esse eaque corporis vero suscipit? Aliquid?
    </div> -->
    <!-- <div class="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iure eos eveniet animi nemo. Harum debitis reiciendis tempore odio earum necessitatibus, cum voluptatum magni aliquam officiis ad quas accusantium est sapiente quisquam quasi iusto quibusdam laudantium. In dolor ipsum voluptas cumque officia quidem corporis, saepe dolores labore, iste magnam ad?

    </div>
     <br>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laudantium expedita natus aliquam doloremque rerum harum eligendi, commodi nam sint, aut totam praesentium. Ullam est exercitationem saepe eaque quasi maiores.</span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo, consequatur numquam nobis iste itaque possimus alias ex harum qui corporis asperiores recusandae, pariatur perspiciatis. Neque, asperiores. Voluptates soluta explicabo amet voluptate quos. Eius ad suscipit dolorem ipsam ipsum. Debitis</span> -->
     <!-- <h1>bbefvf njefvfvv </h1>
     <h2>bvhefvjf  jvefv nrjv</h2>
     <i>vfvjefhvbfejvn</i>
    <span>llllll</span>
    <div>
        <span>kkkk</span>
    </div> -->

    <!-- <img src="{% static 'images/flo.jpg' %}" height="100px" alt="img1">
    <img src="{% static 'images/rose.jpg' %}" alt="img2">
    <img src="{% static 'images/flo.jpg' %}" alt="img3"><br />

    <a href="facebook.com" >goto changepassword</a><br />
    <a href="youtube.com">goto profile</a><br /> -->
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat cumque doloribus animi, voluptate quidem voluptatibus tempora dolorum iure repudiandae pariatur facilis, error, quaerat commodi dignissimos enim necessitatibus explicabo ad dolore.</span>
    <div style="color: red ; background-color: cornflowerblue;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam porro totam, sequi iusto placeat ab corporis recusandae neque reiciendis ipsam nobis illo ipsum eaque incidunt odio provident temporibus dicta perspiciatis!
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quae quia officiis dignissimos placeat repellat facilis reprehenderit quas quo nobis quaerat voluptatem laudantium, ducimus cupiditate, optio et quis animi nesciunt!</span>
    </div>
    </body>
</html>