#div1{
    border: 1px black solid;
    margin: 20px;
    height: 100px;
    width: 50%;
    background-color: blueviolet;


}

#div2{
    border: 1px black solid;
    margin: 20px;
    height: 100px;
    width: 50%;
    background-color: blueviolet;
}

#div3{
    border: 1px black solid;
    margin: 20px;
    height: 100px;
    width: 50%;
    background-color: blueviolet;
}