{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav> <img src="{% static 'images/net.png' %}" alt="" width="200px" height="60px"></nav>
    
    <div style="float: right;background-color: rgb(248, 243, 243);" >
      <h2>Enter your payment details</h2>
      <ul>
        <li>you will not changed until after your free trial ends on 4/2/15</li>
        <li>No commitments,cancel online anytime</li>
        <li>Unlimited streaming.Watch on 2 svreens at a time for $8.99per month.HD available.Edit</li>
      </ul><br>
      <div style="background-color: white;">
        <h3>Credit card&nbsp;&nbsp;<img src="{% static 'images/visa.png' %}" alt="" width="50px" height="50px">&nbsp;&nbsp;<img src="{% static 'images/master.png' %}" alt="" width="50px" height="50px"></h3>
         <hr>
        <form action="">
            <label for="">First Name&nbsp;&nbsp;must macth card</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name<br />
            <input type="text" style="width: 250px;">&nbsp;&nbsp;
            <input type="text"  style="width: 250px;"><br /><br />
            <label for=""></label>card Nmber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="">Zip code</label><br />
            <input type="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number"><br /><br />
            <label for="">Expiration Date</label><br/><br />
             <input type="date">&nbsp;&nbsp;&nbsp;&nbsp;<input type="date">
             <br /><br />
            
        </form>
        bhjhjjkkj nkjljojk njnioijm ccsdcsdhgfhfv bvfkgjhfkgjfnhnbd jvdfvfnmv mnvdkjbhbjg vfvhbjbf vhfgfnvf b bvvjbhgfgvf nbvvfgui hvgfhgfgbr <br />
        cbdwhfdegbf kjhfgf hvffnv kjsfhfekjgv knbjbgjbkgnbjkghujgnb bnvbgbg bngb  nvbkdbjgkbgh  b f jbge.gkgfb jvhjkghvnnnmhfe hjefghhbr <br />
        mndefkjefjg djhwdfkjdf bnfvkjfgv bjfnhviofe jfhefg jghfegjfgngjrrjnb jgnefkjnhekgj klgnmrkgjnmtrk nbgkbgk jgbngrjgrjh ngmg <br />
        cnejferhgtgn jghrgiur kjghuigh gkjbugihngt hbgrihjrk kjbngrkb  jbgkrthto mnbgeiu khbfiugj kjghetgiuthg. <br /><br /><br />
    </div>
      <form action=""></form>
      <input type="checkbox">
        i am over 18, i agree the above conditions and the terms of use and privacy policy.</h3><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;
        <button style="background-color: blue;color:white; width:200px;height: 50px;">start membership</button>
    </div>
    

</body>
</html>